{% extends "forum/base.html" %}
{% block title %}
    <title>View All Threads</title>
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Allthreads page!</h1>

        <table class="table">
        <thead>
            <tr>
                <th>Views</th>
{#                <th>Poppularity</th>#}
                <th>Title</th>
                <th>Asked</th>
            </tr>
        </thead>
        {% for thread in data %}
            <tr>
                <td>{{ thread.views_count }}</td>
{#                <td>Likes:{{ thread_ratings_count_positive }} Dislikes: {{ thread_ratings_count_negative }}</td>#}
                <td><a href="{% url 'forum-viewthread' forum_thread_id=thread.id %}">{{ thread.title }}</a></td>
                <td>{{ thread.datetime_created }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}