{% extends "forum/base.html" %}
{% block title %}
    <title>View Own Threads</title>
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Ownthreads page!</h1>

        <table class="table">
        <thead>
            <tr>
                <th>Views</th>
{#                <th>Poppularity/Likes</th>#}
                <th>Title</th>
                <th>Asked</th>
                <th></th>
            </tr>
        </thead>
        {% for thread in data %}
            <tr>
                <td>{{ thread.views_count }}</td>
{#                <td>{{ thread.likes }}</td>#}
                <td><a href="{% url 'forum-viewthread' forum_thread_id=thread.id %}">{{ thread.title }}</a></td>
                <td>{{ thread.datetime_created }}</td>
                <a href="{% url 'forum-editthread/thread.id' %}" class="btn">Edit</a>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}