{% extends "forum/base.html" %}
{% block title %}
    <title>View Thread</title>
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>View Thread Page!</h1>
        <h2>{{ thread.title }}</h2>
        <h3>Topic: {{ thread.topic.name }}</h3>
        <p>Thread was created: {{ thread.datetime_created }}</p>
        <p>Views: {{ thread.views_count }}</p>
        <p><pre>{{ thread.question }}</pre></p>
        <div>
            <p>Likes: {{ thread_ratings_count_positive }}</p>
            <p>Dislikes: {{ thread_ratings_count_negative }}</p>
        </div>

{#      Like/Dislike#}
{#        {% if user.is_authenticated %}#}
{#            <form method="POST">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="btn btn-success" name="thread_rating_like">#}
{#                    <span class="glyphicon glyphicon-thumbs-up"></span> Like#}
{#                </button>#}
{#                <button type="submit" class="btn btn-danger" name="thread_rating_dislike">Dislike</button>#}
{#            </form>#}
{#        | linebreaksbr#}
{#        {% endif %}#}

        {% if user.is_authenticated %}
            {% if current_thread_rating == 'positive'%}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="thread_rating_like">Like</button>
                    <button type="submit" class="btn btn-default" name="thread_rating_dislike">Dislike</button>
                </form>
            {% elif current_thread_rating == 'negative'%}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default" name="thread_rating_like">Like</button>
                    <button type="submit" class="btn btn-danger" name="thread_rating_dislike">Dislike</button>
                </form>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="thread_rating_like">Like</button>
                    <button type="submit" class="btn btn-danger" name="thread_rating_dislike">Dislike</button>
                </form>
            {% endif %}
        {% endif %}


{#      Show comments#}
        <ul>
        {% for comment in comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
        </ul>


{#      Write comment#}
        {% if user.is_authenticated %}
            <div class="thread-comment">
                <form method="POST">
                    {% csrf_token %}
    {#                <label for="textareaok">#}
    {#                    Write a Comment: <br>#}
    {#                    <textarea id="textareaok" class="form-control"> </textarea>#}
    {#                </label><br>#}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" name="comment_submit">Submit</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}