.code-container {
    background-color: #e8e8e8;
}

/*TEST*/
h1 {
    color:green;
}

.thread-comment textarea{
    width: 400px;
    height: 200px;
}

.navigation-bar-custom{
    background-color: green;
}